/// @group settings
/// @name colors

$color-purple:           #903C82
$color-magenta:          #FF355C
$color-blue:             #4266EA
$color-green:            #1DC85D
$color-red:              #F02F5C

$color-lightgrey:        #F8F8F8
$color-bluegrey:         #607D8B
