meta name='description' content=data.global.site_description
meta property='og:url' content="#{data.global.site_url}#{current_page.url}"
meta property='og:title' content=data.global.site_name
meta name='twitter:title' content=data.global.site_name
meta property='og:image' content="#{data.global.site_url}#{image_path('og-image.jpg')}"
meta property='og:image:width' content="1200"
meta property='og:image:height' content="630"
meta name='twitter:image:src' content="#{data.global.site_url}#{image_path('og-image.jpg')}"
meta property='og:description' content=data.global.site_description
/ meta name='twitter:site' content="#{site_twitter}"
/ meta name='twitter:creator' content="#{site_name}"
/ meta property='article:author ' content="#{site_name}"
meta property='og:site_name' content="#{data.global.site_name}"
meta name='twitter:card' content='summary_large_image'
