/// @group components
/// @name hero

.hero
  padding: 0 1em

.hero__divisor
  width: 6%
  border-top: 1px solid rgba(white, .5)
  margin: 2em auto

.hero__background
  position: absolute
  width: 100%
  height: auto
  bottom: 0

  +bp(sm-only)
    width: 220%
    right: 0

.hero__logo
  position: absolute
  top: 0
  left: 0
  margin: 2em
  transition: .6s cubic-bezier(.75,-0.5,0,1.75)

  a:hover &
    transform: rotate(-90deg)

.hero--full
  height: 100vh
  display: flex
  justify-content: center
  flex-direction: column
