/// @group components
/// @name hero

.hero
  padding: 0 1em

.hero__divisor
  width: 6%
  border-top: 1px solid rgba(white, .5)
  margin: 2em auto

.hero_logo
  width: 80px

.hero--full
  height: 100vh
  display: flex
  justify-content: center
  flex-direction: column
