/// @group components
/// @name article

.article
  width: 100%
  display: flex
  color: white
  min-height: 16em
  box-shadow: inset 0 0 0 50vw rgba(black, .7)
  flex-direction: column
  justify-content: space-around
  transition: .2s

  &:hover
    box-shadow: inset 0 0 0 50vw rgba($color-purple, .9)

  +bp(md)
    width: 50%

  +bp(lg)
    width: 33.3333333%

.article__content
  padding: 2em

.article__title
  font-weight: 900
  font-size: 1.5em

.article__subtitle
  margin-top: .8em
  color: darken(white, 20deg)
  font-size: .8em
  line-height: 1.4

.article__type
  text-transform: uppercase
  letter-spacing: .2em
  font-size: .6em
  align-self: center
  margin-left: .8em

.article__container
  display: flex
  align-items: stretch
  flex-wrap: wrap
