/// @group components
/// @name header

.header
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: rgba(black, 0)
  transition: .4s
  z-index: 9999
  display: flex
  justify-content: space-between

  +bp(md-only)
    position: absolute
    justify-content: center

  .btn
    margin-right: 2em
    visibility: hidden
    opacity: 0
    transition: .2s .4s

    body.header-is-compact &
      opacity: 1
      visibility: visible

    +bp(md-only)
      display: none

.header__logo
  margin: 2em
  height: 1.4em
  line-height: 0
  transition: .4s cubic-bezier(.75,-0.5,0,1.75)

  img
    height: 100%
    width: auto

  a:hover &
    transform: scale(1.05)

  +bp(md-only)
    body.cadastro &
      display: none
