/// @group components
/// @name btn

.btn
  padding: 1.5em 2.5em
  border-radius: 3px
  background-color: $color-magenta
  text-transform: uppercase
  display: inline-block
  font-size: .7em
  letter-spacing: .2em
  box-shadow: 0 10px 20px rgba(black, .19)
  transition: .2s
  color: white
  cursor: pointer
  flex-shrink: 0
  font-weight: 700

  &:hover
    box-shadow: 0 0px 0px rgba(black, 0)
    background-color: darken($color-magenta, 6deg)

  .title--tertiary + &
    margin-top: 2em

  .fa
    margin-right: .3em

.btn--secondary
  padding: 1.1em 2em 1em
  background-color: transparent
  border: 1px solid rgba(black, .6)
  color: rgba(black, .6)
  box-shadow: none

  &:hover
    border-color: $color-whatsapp
    background-color: $color-whatsapp
    color: white
