/// @group components
/// @name hero

.hero
  padding: 0 1em

.hero__divisor
  width: 6%
  border-top: 1px solid rgba(white, .5)
  margin: 2em 0
  display: inline-block

  &--dark
    border-color: rgba(black, .5)

  +bp(md-only)
    margin: 1em 0

.hero__background
  position: absolute
  width: 100%
  height: auto
  bottom: 0
  right: 0

  +bp(sm-only)
    width: 220%
    right: 0

.hero__detail
  position: absolute
  bottom: 3em
  left: 50%
  transform: translateX(-50%)
  font-weight: 100
  font-size: .7em
  opacity: .9

  +bp(md-only)
    display: none

.hero--full
  height: 100vh
  display: flex
  justify-content: center
  flex-direction: column
